.page-heading
  %h4 Hi, I'm Colleen
.page-content
  .row
    .col-sm-4
      %img{src: "/headshot.jpg"}
    .col-sm-8
      %h5 Full Time Ruby Dev, Part Time Cat Lady
      %p I'm a rubyist with a passion for solving problems with clean, carefully-crafted, high-quality code. I love to build things from scratch as well as integrate pre-made components into a larger whole. When I'm not hitting cmd-z, I'm appeasing my kitties (home life is a constant battle for lap space) or exercising my creativity in the analog world. I'm always eager to learn new things, expand my skills, and share my experiences.
