.page-heading
  %h4 Select Projects
.page-content
  .row.project
    .col-sm-4
      %img{src: "launchpad.png"}
    .col-sm-8
      %h5 The Launch Pad
      %p The Launch Pad is a screenwriting competition.
  .row.project
    .col-sm-4
      %img{src: "launchpad.png"}
    .col-sm-8
      %h5 EIN/Tax ID Verification API
      %p A free service to verify non-profit organizations based on EIN or Tax ID.
  .row.project
    .col-sm-4
      %img{src: "launchpad.png"}
    .col-sm-8
      %h5 Urban Harvester
      %p Urban Harvester is an excess food matching service.
  .row.project
    .col-sm-4
      %img{src: "launchpad.png"}
    .col-sm-8
      %h5 Travel Behavior
      %p Nancy McGuckin is a Travel Behavior Analyst.
  .row.project
    .col-sm-4
      %img{src: "ptmi.png"}
    .col-sm-8
      %h5 Pro-Tek Mechanical, Inc.
      %p PTMI is a HVAC contractor.
