<div class="page-heading">
  <h4>Select Projects</h4>
</div>
<div class="page-content">
  <div class="row project">
    <div class="col-sm-4">
      <img src="launchpad.png">
    </div>
    <div class="col-sm-8">
      <h5>The Launch Pad</h5>
      <p>The Launch Pad is a screenwriting competition.</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4">
      <img src="launchpad.png">
    </div>
    <div class="col-sm-8">
      <h5>EIN/Tax ID Verification API</h5>
      <p>A free service to verify non-profit organizations based on EIN or Tax ID.</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4">
      <img src="launchpad.png">
    </div>
    <div class="col-sm-8">
      <h5>Urban Harvester</h5>
      <p>Urban Harvester is an excess food matching service.</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4">
      <img src="launchpad.png">
    </div>
    <div class="col-sm-8">
      <h5>Travel Behavior</h5>
      <p>Nancy McGuckin is a Travel Behavior Analyst.</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4">
      <img src="ptmi.png">
    </div>
    <div class="col-sm-8">
      <h5>Pro-Tek Mechanical, Inc.</h5>
      <p>PTMI is a HVAC contractor.</p>
    </div>
  </div>
</div>
