.page-heading
  %h4 Select Projects
.page-content
  .row.project
    .col-sm-4
      .project-image
        %img{src: "launchpad.png"}
    .col-sm-8
      %h5 The Launch Pad
      %p The Launch Pad is a screenwriting competition management system aimed at launching writing careers and exposing top writers. Writers are able to upload scripts, which are reviewed by professional readers. The Launch Pad includes robust administrative functions, integrates with external services and sites, and an optimized codebase allowing for deep queries and fast response time. Creating this application required extensive data munging and considerable integration with CMS (Intercom) and Payment Processing (Stripe) systems. Built with Ruby on Rails.
  .row.project
    .col-sm-4
      .project-image
        %img{src: "urban-harvester.png"}
    .col-sm-8
      %h5 Urban Harvester
      %p Urban Harvester is a non-profit that matches excess food with food banks and other community-focused distribution services. The donation matching application allows donors to create a donation with multiple items, then provides a list of distribution agencies that are eligible to receive the donation. Receiving agencies can register and create a profile that informs the matching algorithm of the particular restrictions each agency faces allowing for a smarter, quicker matching process. Agencies are able to track where their donations came from, allowing for safer food handling practices and a more impactful and less wasteful outcome. Built with Ruby on Rails.
  .row.project
    .col-sm-4
      .project-image
        %img{src: "travel-behavior.png"}
    .col-sm-8
      %h5 Travel Behavior
      %p The Travel Behavior application is a custom CMS for simplifying the management of media on an information-based, high traffic site. The app allows total CRUD control for documents as well as receiving email inquiries. The client is able to self-manage her website without a webmaster, reducing cost and the time it takes to get new documents live. Built with Ruby on Rails.
  .row.project
    .col-sm-4
      .project-image
        %img{src: "book.jpg"}
    .col-sm-8
      %h5 A Common-Sense Guide to Data Structures and Algorithms
      %p A Common-Sense Guide to Data Structures and Algorithms is a technical text covering different data structures and methods for using them. The book goes over sorting techniques, how to use recursion, and specialized structures (such as graphs and trees). I provided didactic illustrations, the book was written by Jay Wengrow. Illustrated with Adobe Illustrator.
  .row.project
    .col-sm-4
      .project-image
        %img{src: "api.svg"}
    .col-sm-8
      %h5 EIN/Tax ID Verification API
      %p A free service to verify non-profit organizations based on EIN or Tax ID. The API downloads and parses the latest tax-exemption lists from the IRS, then compares the given Tax ID number with the list's records for verification. Built with Ruby and Roda.
