body {
  background-color: #e6e7e8;
}

.container {
  width: 70%;
}

.header-image {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

.header {
  margin-bottom: 60px;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.nav-button {
  font-family: 'Slabo 27px', serif;
  font-size: 3rem;
  color: #5d5e5e;
  padding: 3px;
  border-bottom: 2.5px solid #d1d3d4;

}

.nav-button:hover {
  border-bottom: 2.5px solid #fff;
}

a.active {
  border-bottom: 2.5px solid #be1e2d;
}

#developer-button {
  font-family: 'Slabo 27px', serif;
  background-color: #be1e2d;
  font-size: 3rem;
  color: #e6e7e8;
  padding: 3px;
}

a.undecorated {
  color:#5d5e5e !important;
  text-decoration:none;
}

.page-heading {
  font-family: 'Slabo 27px', serif;
  border-bottom: 1.5px solid #fff;
  color: #5d5e5e;
  margin-bottom: 10px;
}

#hello {
  width: 15%;
  margin-bottom: 3px;
}

.page-content {
  font-family: 'Source Sans Pro', sans-serif;
}

.page-content h5 {
  font-family: 'Slabo 27px', serif;
  color: #be1e2d;
}

img {
  width: 100%;
}

.project{
  margin-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.footer{
  background-color: #be1e2d;
  padding: 10px;
  margin-top: 100px;
}

.container{
  min-height:100vh;
}

.light-text{
  color: #e6e7e8;
}
.icons{
  padding-top: 5px;
}

.footer-link{
  margin-left: 20px;
}

#contact-icon, #linkedin, #github, #blog-icon{
  width: 3%;
}

#resume-icon{
  width: 2.25%;
}

#ruby-footer{
  padding-left: 10%;
}

#footer-hr{
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.footer-link:hover{
  text-decoration: none;
}

.project-image{
  margin-top: 10px !important;
}
